In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

I would like to go on vacation from Oct 15, 2020 to Oct 22, 2020.

In [6]:
#inspect
inspector = inspect(engine)
inspector.get_table_names()

[&#39;measurement&#39;, &#39;station&#39;]

In [9]:
# Use Inspector to print the column names and types
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [10]:
# Use Inspector to print the column names and types
columns = inspector.get_columns('station')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [13]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)

In [14]:
# We can view all of the classes that automap found
Base.classes.keys()

[&#39;measurement&#39;, &#39;station&#39;]

In [15]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [16]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [31]:
engine.execute('SELECT * FROM Station LIMIT 5').fetchall()

[(1, &#39;USC00519397&#39;, &#39;WAIKIKI 717.2, HI US&#39;, 21.2716, -157.8168, 3.0),
 (2, &#39;USC00513117&#39;, &#39;KANEOHE 838.1, HI US&#39;, 21.4234, -157.8015, 14.6),
 (3, &#39;USC00514830&#39;, &#39;KUALOA RANCH HEADQUARTERS 886.9, HI US&#39;, 21.5213, -157.8374, 7.0),
 (4, &#39;USC00517948&#39;, &#39;PEARL CITY, HI US&#39;, 21.3934, -157.9751, 11.9),
 (5, &#39;USC00518838&#39;, &#39;UPPER WAHIAWA 874.3, HI US&#39;, 21.4992, -158.0111, 306.6)]

In [32]:
engine.execute('SELECT * FROM Measurement LIMIT 5').fetchall()

[(1, &#39;USC00519397&#39;, &#39;2010-01-01&#39;, 0.08, 65.0),
 (2, &#39;USC00519397&#39;, &#39;2010-01-02&#39;, 0.0, 63.0),
 (3, &#39;USC00519397&#39;, &#39;2010-01-03&#39;, 0.0, 74.0),
 (4, &#39;USC00519397&#39;, &#39;2010-01-04&#39;, 0.0, 76.0),
 (5, &#39;USC00519397&#39;, &#39;2010-01-06&#39;, None, 73.0)]

# Exploratory Climate Analysis

GOTTA WORK ON THIS

In [42]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
#last date
last_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
print(last_date)

(&#39;2017-08-23&#39;,)

In [51]:
#1 year before
one_year_ago = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print(one_year_ago)

2016-08-23

In [52]:
#query data
precip = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date > one_year_ago).\
    order_by(Measurement.date).all()

In [53]:
# Calculate the date 1 year ago from the last data point in the database
precip_df = pd.DataFrame(precip, columns=['date', 'precipitation'])
precip_df

            date  precipitation
0     2016-08-24           0.08
1     2016-08-24           2.15
2     2016-08-24           2.28
3     2016-08-24            NaN
4     2016-08-24           1.22
...          ...            ...
2218  2017-08-22           0.50
2219  2017-08-23           0.00
2220  2017-08-23           0.00
2221  2017-08-23           0.08
2222  2017-08-23           0.45

[2223 rows x 2 columns]

In [ ]:
# Perform a query to retrieve the data and precipitation scores

In [ ]:
# Save the query results as a Pandas DataFrame and set the index to the date column

In [ ]:
# Sort the dataframe by date

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`